html {
  font-family: "Sometype Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #027336;
  color: #fff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

li {
  padding-bottom: 10px;
}

nav {
  font-size: larger;
  font-weight: bolder;
}

.content {
  position: relative;
  z-index: 5;
  padding: 10px;
  background-color: #027336;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #027336;
}

section {
  scroll-margin-top: 80px;
  margin-bottom: 100px;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration-color: #fff;
}

a {
  color: #fed7fb;
  text-decoration-color: #fed7fb;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  canvas {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .content {
    width: 500px;
    margin-left: 90px;
  }
}
